<form [formGroup]="fieldGroup">
  <mat-form-field
    appearance="outline"
    [ngClass]="['input-container', fieldContainerClass]"
  >
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [ngClass]="[fieldClass]"
      [id]="fieldControlName"
      [formControlName]="fieldControlName"
      (input)="inputEvent()"
      (focus)="inputEvent()"
      [type]="fieldType"
    />
    <mat-error *ngIf="invalidField">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>
</form>
